 *{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;

 }
 .dynamicData1{
    /* border: 10px solid blue; */
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
} 
.parentD1{  
    /* border: 4px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width:500px;
    padding: 2px;
}
.Dimgbox{
    width:400px;
    height:300px;
    /* border:3px solid red; */
    margin-top: 0.5rem;
    overflow: clip;
} 
.Dimg{
    width:400px;
     height:300px;
     border-radius:5%;
   /* border: 5px solid black; */
} 
.Ddesc1{
    text-align: center;
    width:500px;
    height: 300px;
    padding-top:10px;
    font-weight: bolder;
    font-style: italic;
}
.dhead{
    width:100%;
    margin:1%;
}
.user{
    /* border:1px solid black; */
    /* width:600px; */
    height:50px;
    display: flex;
    align-items:center;
    justify-content:center;
   
}

.userImg{

    /* background-color:gre bordy; */
    margin-right: 0.5rem;
    width:55px;
    height: 55px;
    border-radius: 50%;
}
.userP{
    /* border:3px solid red;  */
    width:100%;
    padding:2%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* social media icon */

.icon{
    width:30px;
    height: 30px;
    padding: 3px;

}

.section2{
    background-color:whitesmoke;

}
.dynamicData2{
    /* border: 10px solid blue; */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content:space-between;
    z-index:3;
} 
.moreFrom{
    border-bottom: 3px;
    border-color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
.parentD2{
    /* border: 4px solid green; */
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start 
}
.Dimgbox2{
    width: 320px;
    height:250px;
    /* border:3px solid red; */
    overflow: clip;
} 
.Dimg2{
    width:320px;
    height:250px;
    border-radius: 10%;
    padding:2px;
    overflow: clip;
} 
    /* border: 5px solid black; */

.Dhea2{
    text-align: center;
    width:80%;
    height: 10%;
    padding-top:2%;
     /* border:2px solid black;  */
}
.user2{
    /* border:1px solid black; */
    position: relative;
    width:200px;
    height:50px;

    display: flex;
    align-items:center;
    justify-content:flex-start;                   
    margin-top: 2px;
    padding: 4px;
}
/* middle */
.middle-child{
 /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.border-child{
    /* background-color: black; */
    width:500px;
    border-bottom: 3px whitesmoke solid;
    border-top: 3px solid whitesmoke;
    padding:10px;

}
/* likesharew section */
.lsParent{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:4px solid rgb(20, 14, 25); */
    position:fixed;
    top:25%;
    left:35px;
    z-index: +2;
}
.likeshare:hover{
    border: 1px solid grey;


}
.back{
   
    border-radius: 5px;
    position: absolute;
    margin:2%;
    border:2px solid grey;
    background-color: white;
    font-weight: bold;
    font-size: medium;
    color: black;
     /* top:10%; */
    left:100%;
    padding:3px;
}
.back:hover{
    text-decoration: none;
background-color: black;
color:white;

}
.back button Link{
    text-decoration: none;
    color:black;
}

@media screen and (max-width:480px) {
    .back{
        display: none;
    }
    .dynamicData1{
        display: flex;
        align-items: center;
        justify-content:center;
        /* width:100%; */
    } 
    .parentD1{
        /* border: 4px solid green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        width:100%;
        padding: 2px;
    }
    .Dimgbox{
        width:97%;
        height:20%;
        /* border:3px solid red; */
        margin-top: 0.5rem;
    } 
    .Dimg{
        width:97%;
         height:100%;
         border-radius:5%;
         margin: 1%;
       /* border: 5px solid black; */
       
    } 
    .Ddesc1{
        text-align: center;
        width:70%;
        height:30%;
        padding-top:2px;
        font-weight: bolder;
        font-style: italic;
    }
    .Dhe
    .user{
        /* border:1px solid black; */
        /* width:600px; */
        height:50px;
        display: flex;
        align-items:center;
        justify-content:center;
       
    }
    
    .userImg{
    
        /* background-color:gre bordy; */
        margin-right: 0.5rem;
        width:55px;
        height: 55px;
        border-radius: 50%;
    }
    .userP{
        flex-direction: column;
    }
    .user{
         /* border:1px solid black;  */
        /* width:600px; */
        height:50px;
        display: flex;
        align-items:center;
        justify-content:center;
       
    }
   .middle-child{
         /* background-color: rebeccapurple;  */
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 3%;
           width:100%;
           margin-bottom: 10px;
       }

       .middle-child{
        background-color: whitesmoke;
       }
    .dynamicData2{
        /* border: 3px solid blue; */
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        /* z-index:3; */
    } 
    .Dimgbox2{
        width:25%;
        height:20%;
        /* border:3px solid red; */
    } 
    .Dimg2{
        width:80%;
        height:80%;
        border-radius: 10%;
        padding:2%;
        /* border: 5px solid black; */
    } 
    .parentD2{
         /* border: 4px solid green;  */
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start */
        margin-bottom: 2%;
        width: 100%;

    }
    .Dimgbox2{
        width:100%;
        height:250px;
        /* border:3px solid red; */
    } 
    .Dimg2{
        width:100%;
        height:100%;
        border-radius: 10%;
        padding:2px;
        /* border: 5px solid black; */
    } 
    .Dhea2{
        text-align: center;
        width:100%;
        padding-top:10px;
        /* border:2px solid black; */
    }
    .user2{
        /* border:1px solid black; */
        width:200px;
        height:50px;
    
        display: flex;
        align-items:center;
        justify-content:flex-start;
        margin-top: 2px;
        padding: 4px;
    }
    .dynamicData2{
        /* border: 10px solid blue; */
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    } 

    
}
@media screen and (min-width:481px) and (max-width:768px) {
    .back{
        display:block;
    }
    .dynamicData1{
        display: flex;
        align-items: center;
        justify-content:center;
        padding:0.5em;
        /* width:100%; */
    } 
    .parentD1{
        /* border: 4px solid green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        width:100%;
        padding: 2px;
    }
    .Dimgbox{
        width:100%;
        height:20%;
        /* border:3px solid red; */
        margin-top: 0.5rem;
    } 
    .Dimg{
        margin: 1%;
        width:97%;
         height:100%;
         border-radius:5%;
       /* border: 5px solid black; */
       
    } 
    .Ddesc1{
        text-align: center;
        width:70%;
        height:30%;
        padding-top:2px;
        font-weight: bolder;
        font-style: italic;
    }
    .Dhe
    .user{
        /* border:1px solid black; */
        /* width:600px; */
        height:50px;
        display: flex;
        align-items:center;
        justify-content:center;
       
    }
    
    .userImg{
    
        /* background-color:gre bordy; */
        margin-right: 0.5rem;
        width:55px;
        height: 55px;
        border-radius: 50%;
    }
    .userP{
        flex-direction: column;
    }
    .user{
        /* width:600px; */
        height:50px;
        display: flex;
        align-items:center;
        justify-content:center;
       
    }
   .middle-child{
           display: flex;
           align-items: center;
           justify-content: center;
           padding: 3%;
           width:100%;
           margin-bottom: 10px;
       }

       .middle-child{
        background-color: whitesmoke;
       }
    .dynamicData2{
        width:100%;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
    }
    .Dimgbox2{
        width:100%;
        height:20%;
    } 
    .Dimg2{
        width:100%;
        height:100%;
        border-radius: 10%;
        padding:2px;
        /* border: 5px solid black; */
    } 
    .parentD2{
        width: 100%;
        margin-bottom: 2%;
    }  
    .Dhea2{
        text-align: center;
        width:100%;
        padding-top:10px;
        /* border:2px solid black; */
    }
    .user2{
        /* border:1px solid black; */
        width:200px;
        height:50px;
    
        display: flex;
        align-items:center;
        justify-content:flex-start;
        margin-top: 2px;
        padding: 4px;
    }   
}

    